/* Styles go here */
* {
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    
}
h1, h2 {
    color: rgb(73, 73, 73);
}
.navbar-nav {
    border-radius: 5px;
    margin-right: 1rem;

}
#content {
    margin-left: 1em;
}
#content .btn {
    background: rgb(0, 204, 255);
    color: white;
    border: 2px solid rgb(0, 204, 255);
    transition: 0.2s;
    font-weight: bold;
}
.tablee {
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
  }
  th, td {
    border: 2px solid white;
    padding: 1em;
    background: rgb(224, 243, 255);
    color:rgba(53, 53, 53, 0.849);
  }
#productList button {
    background: rgb(0, 204, 255);
    padding: 2px 1.5em 2px 1.5em;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color:white;
}